{% extends "main.html" %}



{% block body %}
<div>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-3">Deep animation</h1>
        <p class="lead">This is a deep web site, about artificial intelligence technology and animation.</p>
      </div>
    </div>


   <div class="container" >
       <h3>最新发表</h3>

          <div class="row" style="background: #e9ecef; padding: 10px 5px 10px 5px;margin-top: 10px">
              <div>
                <a href="#" class="thumbnail" style="padding-right: 20px ">
                  <img src="{{ static_url('img/s.jpg') }}" alt="...">
                </a>
              </div>
              <div>
                  <h3>ajfsilaksd'ads</h3>
                  <p>asfasfjkals;dka'sld'asd</p>
              </div>
          </div>

       <div class="row" style="background: #e9ecef; padding: 10px 5px 10px 5px;margin-top: 10px">
              <div>
                <a href="#" class="thumbnail" style="padding-right: 20px ">
                  <img src="{{ static_url('img/s.jpg') }}" alt="...">
                </a>
              </div>
              <div>
                  <h3>ajfsilaksd'ads</h3>
                  <p>asfasfjkals;dka'sld'asd</p>
              </div>
          </div>

       <div class="row" style="background: #e9ecef; padding: 10px 5px 10px 5px;margin-top: 10px">
              <div>
                <a href="#" class="thumbnail" style="padding-right: 20px ">
                  <img src="{{ static_url('img/s.jpg') }}" alt="...">
                </a>
              </div>
              <div>
                  <h3>ajfsilaksd'ads</h3>
                  <p>asfasfjkals;dka'sld'asd</p>
              </div>
          </div>


       <div class="row" style="background: #e9ecef; padding: 10px 5px 10px 5px;margin-top: 10px">
              <div>
                <a href="#" class="thumbnail" style="padding-right: 20px ">
                  <img src="{{ static_url('img/s.jpg') }}" alt="...">
                </a>
              </div>
              <div>
                  <h3>ajfsilaksd'ads</h3>
                  <p>asfasfjkals;dka'sld'asd</p>
              </div>
          </div>
      </div>

      </div>



    </div>
</div>

{% end %}

